<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ht.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="org.ht.model.entity.ChatMessage">
            <id property="id" column="id" />
            <result property="senderId" column="sender_id" />
            <result property="receiverId" column="receiver_id" />
            <result property="content" column="content" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,receiver_id,content,create_time
    </sql>
</mapper>
